<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="./components/button/button.css" />
  <link rel="stylesheet" type="text/css" href="./css/reset.css" />
  <link rel="stylesheet" type="text/css" href="./css/default.css" />
  <link rel="stylesheet" type="text/css" href="./components/filter/filter.css" />
  <link rel="stylesheet" type="text/css" href="./css/opgehaald.css" />
  <title>Document</title>
</head>

<body>
  <ehb-header></ehb-header>
  <hamburger-menu></hamburger-menu>
  <main>
    <h1>Mijn Reservaties</h1>

    <ul class="reservation">
      <li class="reservation__item reservation__heading">
        <span class="reservation__title"></span>
        <span class="reservation__title">Product</span>
        <span class="reservation__title">username</span>
        <span class="reservation__title">Datum gereserveerd</span>
        <span class="reservation__title">Gereserveerd tot</span>
        <span class="reservation__title">Opgehaald</span>
      </li>
      <li class="reservation__item">
        <span class="reservation__article--image"><img src="images/canon-eos-c300-specs.png"></span>
        <span class="reservation__article--name"> Printer </span>
        <span class="reservation__article--username"> </span>
        <span class="reservation__article--date-from"> 01/01/2024</span>
        <span class="reservation__article--date-until"> 01/01/2024</span>
        <button class="btn secondary-button cancel-reservation">Opgehaald</button>
      </li>
      <li class="reservation__item">
        <span class="reservation__article--image"><img src="images/canon-eos-c300-specs.png"></span>
        <span class="reservation__article--name">Printer </span>        <span class="reservation__article--username"> </span>

        <span class="reservation__article--date-from"> 01/01/2024</span>
        <span class="reservation__article--date-until">01/01/2024 </span>

        <button class="btn secondary-button cancel-reservation">Opgehaald</button>
      </li>
      <li class="reservation__item">
        <span class="reservation__article--image"><img src="images/canon-eos-c300-specs.png"></span>
        <span class="reservation__article--name">Printer </span>
        <span class="reservation__article--username"> </span>
        <span class="reservation__article--date-from">01/01/2024 </span>
        <span class="reservation__article--date-until">01/01/2024 </span>

        <button class="btn secondary-button cancel-reservation">Opgehaald</button>
      </li>
    </ul>

    <!-- Popup -->
    <div id="cancelPopup" class="popup">
      <div class="popup-content">
        <h2>Ben je zeker dat je je reservering wilt annuleren?</h2>
        <button class="btn tertiary-button" id="cancelYes">Ja</button>
        <button class="btn tertiary-button" id="cancelNo">Nee</button>
      </div>
    </div>
  </main>
  <ehb-footer></ehb-footer>
  <script src="./js/components.js"></script>
  <script src="./components/filter/filter.js"></script>
  <script src="./js/reservationPopup.js"></script>
</body>

</html>