<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="filter.css" />
		
		<title>Filter</title>
	</head>

	<body>
		<div class="search-bar form">
			<div class="search-bar__container search-bar__search">
				<img
					class="search-bar__icon"
					src="../../resources/images/magnifying-glass.svg"
					alt="Zoeken"
				/>

				<input
					id="search-bar"
					class="input"
					type="text"
					placeholder="Zoeken..."
					list="filters"
					onkeyup="showOptions()"
				/>
				<datalist id="filters"></datalist>
				<div id="selected-options"></div>
			</div>
		</div>
	</body>
    <script src="./filterDatalist.js" defer></script>
</html>