<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="filter.css" />
    <title>Filter</title>
  </head>

  <body>
    <div class="search-bar form">
      <div class="search-bar__container search-bar__search">
        <img
          class="search-bar__icon"
          src="../../images/magnifying-glass.svg"
          alt="Zoeken"
        />
        <input
          id="search-bar"
          class="input"
          type="text"
          placeholder="Zoeken..."
        />
      </div>

      <div class="search-bar__container search-bar__filter" tabindex="0">
        <img
        class="search-bar__icon"
        src="../../images/filter.svg"
        alt="Filters"
      />
      <button id="search-bar-btn-filter" class="search-bar__btn-filter">
        <span id="tag-filter-span" class="btn-filter__text">Selecteer Tags</span>

        <ul id="selected-tags-list" class="btn-filter__selected-tags-list">
        </ul>

        <img
        class="btn-filter__icon"
        src="../../images/chevron-down.svg"
        alt="V"
      />
      </button>
      <ul id="tag-filter-list" class="filter__dropdown">
        <input
        id="tag-filter"
        class="input dropdown__tag-filter"
        type="search"
        placeholder="Voer tags in"
      />
      </ul>

      </div>
    </div>

    <ul id="test" class="test">
      <li>VR</li>
      <li>Video</li>
      <li>Camera</li>
      <li>Beeld</li>
    </ul>

    <script src="filter.js"></script>
  </body>
</html>
