<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="toast.css" />
    <title>Toast</title>
  </head>
  <body>
    <!-- Success Toast -->
    <!-- <div id="toast" class="toast-container">
      <div class="toast-notification">
          <img
            class="toast__icon"
            src="/src/resources/images/toast-check.svg"
            alt="Check"
          />
        <p id="toast-text" class="toast__text">Progress saved</p>
      </div>
    </div> -->


    <!-- Fail Toast -->
    <div id="toast" class="toast-container">
        <div class="toast-notification">
            <img
              class="toast__icon"
              src="/src/resources/images/toast-x.svg"
              alt="Check"
            />
          <p id="toast-text" class="toast__text">Progress saved</p>
        </div>
      </div>

    <script src="toast.js"></script>
  </body>
</html>
