<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="filter.css" />
  <title>Filter</title>
</head>

<body>
  <div class="search-bar form">
    <div class="search-bar__container search-bar__search">
      <img class="search-bar__icon" src="../../resources/images/magnifying-glass.svg" alt="Zoeken" />

      <input id="search-bar" class="input" type="text" placeholder="Zoeken...">
      <datalist id="Filters">
        <option value="camera 1"></option>
        <option value="camera 20"></option>
        <option value="capibara 1"></option>
      </datalist>
    </div>
    <div class="search-bar__container search-bar__filter">
      <img class="search-bar__icon" src="../../resources/images/filter.svg" alt="Filters" />
      <input id="tag-filter" class="input" type="search" placeholder="Filter..." />
    </div>
  </div>
  <input type="text" id="newItem" placeholder="Voeg een item toe">
  <button onclick="addItem()">Toevoegen</button>
  <script src="/src\components\filter\filter.js"></script>
</body>

</html>