@import url(../../css/default.css);

/* KEVIN POWELL VIDEO https://www.youtube.com/watch?v=Ns12ALe8aqI */

ul {
  /* Don't copy, in reset.css */
  padding: 0;
  list-style: none;
}

body {
  /* Don't copy, in reset.css */
  padding: 0;
  margin: 0;
}

.basket__item-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%; /* Change this value based on the size you want */
}

.item-list__item {
  font-family: "Inter";
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-left: 1rem;
}

.item__image {
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  overflow: hidden;
  object-fit: cover;
}

.item__container{
    margin-left: 0.375rem;
}

.item__title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: var(--text);

}

.item__quantity {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  line-height: 1;
  color: var(--text-muted);
}

.btn {
    border-radius: 0.375rem;
    font-family: "Roboto";
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--bg);
    height: 2.5rem;
    border: none;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .tertiary-button {
    box-shadow: none;
    color: var(--primary-400);
    background-color: transparent;
    border: none;
    padding: 0;
    height: fit-content;
    margin-left: 0.875rem;
    margin-right: 0.875rem;
  }
  
  .tertiary-button:hover {
    text-decoration: underline;
  }