<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/components/button/button.css" />
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/default.css" />
  <link rel="stylesheet" type="text/css" href="/components/filter/filter.css" />
  <link rel="stylesheet" type="text/css" href="/css/MedewerkerIDnr.css" />
  <title>Document</title>
</head>

<body>
  <ehb-header nobasket></ehb-header>
  <hamburger-menu></hamburger-menu>
  <main id="main">
    <h1>Medewerker</h1>
    <div class="id-section">
      <label for="id-input">Artikel ID</label>
      <input type="text" id="id-input" />

      <div class="button-group">
        <button id="btn-search-article" class="btn cta-button--blue">Submit</button>
        <button id="btn-terug" class="btn secondary-button">Terug</button>
      </div>

    </div>
    <div id="flexbox"></div>
    
  </main>
  <ehb-footer></ehb-footer>
  <script src="/js/components.js"></script>
  <script src="/js/admin-retourbeheer.js"></script>
</body>

</html>