<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/components/button/button.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/default.css">
  <link rel="stylesheet" type="text/css" href="/css/admincatalogus.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <title>EhB MediaLab Admin - Dashboard</title>
</head>

<body>
  <ehb-header nobasket></ehb-header>
  <hamburger-menu admin></hamburger-menu>
  <main>
    <h1>Dashboard Admin</h1>
    <br>
    <div id="block">
      <div class="dashboard opditmoment">
        <div class="opditmoment__info-items-flex">
          <div class="opditmoment__info-item timing optijd">
            <div class="opditmoment__info-item-layer1"> <img src="/images/group-icon.svg" alt=""></div>     
            <div class="opditmoment__info-item-layer2" ><h1 class="opditmoment__info--optijd"><%= onTime %></h1></div>
            <div class="opditmoment__info-item-layer3"><h4>Op tijd</h4></div>
          </div>
          <div class="opditmoment__info-item timing laatstedag">
            <div class="opditmoment__info-item-layer1"> <img src="/images/group-icon.svg" alt=""></div>     
            <div class="opditmoment__info-item-layer2" ><h1 class="opditmoment__info--aantallaatstedag"><%= lastDay %></h1></div>
            <div class="opditmoment__info-item-layer3"><h4>Laatste dag</h4></div>
          </div>
          <div class="opditmoment__info-item timing telaat">
            <div class="opditmoment__info-item-layer1"> <img src="/images/group-icon.svg" alt=""></div>     
            <div class="opditmoment__info-item-layer2" ><h1 class="opditmoment__info--aantaltelaat"><%= late %></h1> </div>
            <div class="opditmoment__info-item-layer3"> <h4>Te laat</h4></div>
          </div>
        </div>
      </div>
      <div class="dashboard adminbeheer">
        <div id="adminbeheer">
          <a class="adminbeheer-item" href="/admin/retourbeheer">
            <img src="/images/retour-icon.png" alt="">
            <h4>Retourbeheer</h4>
          </a>
          <a class="adminbeheer-item" href="/admin/gebruikersbeheer">
            <img src="/images/group-icon.svg" alt="">
            <h4>Gebruikers</h4>
          </a>
          <a class="adminbeheer-item" href="/admin/uitleengeschiedenis">
            <img src="/images/geschiedenis-icon.svg" alt="">
            <h4>Uitleengeschiedenis</h4>
          </a>
          
        </div>
      </div>
      <br>
      
      <div class="dashboard materiaalingebruik">
      </div>
    </div>    
  </main>
  <ehb-footer></ehb-footer>
  <script src="/js/components.js"></script>
  <script src="/js/default.js"></script>
</body>

</html>