<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/components/button/button.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/default.css">
  <link rel="stylesheet" type="text/css" href="/css/admincatalogus.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <title>EhB MediaLab Admin - Dashboard</title>
</head>

<body>
  <ehb-header nobasket></ehb-header>
  <hamburger-menu admin></hamburger-menu>
  <main>
    <h1 class="page__subtitle">Admin Dashboard</h1>
    <div id="block">
      <div class="geenideehoeikditmoetnoemen gebruikersbeheer">
        <div id="gebruikersbeheer__info">
          <a class="gebruikersbeheer__info-item" href="/admin/retourbeheer">
            <img src="/images/retourbeheer.svg" width="100px" alt="">
            <h4>Retourbeheer</h4>
          </a>
          <a class="gebruikersbeheer__info-item" href="/admin/gebruikersbeheer">
            <img src="/images/group-icon.svg" width="100px" alt="">
            <h4>Gebruikersbeheer</h4>
          </a>
          <a class="gebruikersbeheer__info-item" href="/admin/uitleengeschiedenis">
            <img src="/images/geschiedenis-icon.svg" width="100px" alt="">
            <h4>Uitleengeschiedenis</h4>
          </a>
          <div class="gebruikersbeheer__info-item timing optijd">
            <img src="/images/group-icon.svg" alt="">
            <h1 class="gebruikersbeheer__info--optijd"><%= onTime %></h1>
            <h4>Op tijd</h4>
          </div>
          <div class="gebruikersbeheer__info-item timing laatstedag">
            <img src="/images/group-icon.svg" alt="">
            <h1 class="gebruikersbeheer__info--aantallaatstedag"><%= lastDay %></h1>
            <h4>Laatste dag</h4>
          </div>
          <div class="gebruikersbeheer__info-item timing telaat">
            <img src="/images/group-icon.svg" alt="">
            <h1 class="gebruikersbeheer__info--aantaltelaat"><%= late %></h1>
            <h4>Te laat</h4>
          </div>
        </div>
      </div>
  </main>
  <ehb-footer></ehb-footer>
  <script src="/js/components.js"></script>
  <script src="/js/default.js"></script>
</body>

</html>