<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/components/button/button.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/default.css">
  <link rel="stylesheet" type="text/css" href="/css/admincatalogus.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <title>EhB MediaLab Admin - Dashboard</title>
</head>

<body>
  <ehb-header nobasket></ehb-header>
  <hamburger-menu admin></hamburger-menu>
  
  <main>
    <h1>Dashboard Admin</h1>
    <div id="block">
      <div class="geenideehoeikditmoetnoemen gebruikersbeheer">
        <h3>Gebruikersbeheer</h3>
        <div id="gebruikersbeheer__info">
          <a class="gebruikersbeheer__info-item" href="gebruikersbeheer.html">
            <img src="/images/group-icon.svg" alt="">
            <h4>Gebruikers</h4>
          </a>
          <a class="gebruikersbeheer__info-item" href="gebruikersbeheer.html">
            <img src="/images/geschiedenis-icon.svg" alt="">
            <h4>Uitleengeschiedenis</h4>
          </a>
          <div class="gebruikersbeheer__info-item timing optijd">
            <img src="/images/group-icon.svg" alt="">
            <h1 class="gebruikersbeheer__info--optijd"><%= onTime %></h1>
            <h4>Op tijd</h4>
          </div>
          <div class="gebruikersbeheer__info-item timing laatstedag">
            <img src="/images/group-icon.svg" alt="">
            <h1 class="gebruikersbeheer__info--aantallaatstedag"><%= lastDay %></h1>
            <h4>Laatste dag</h4>
          </div>
          <div class="gebruikersbeheer__info-item timing telaat">
            <img src="/images/group-icon.svg" alt="">
            <h1 class="gebruikersbeheer__info--aantaltelaat"><%= late %></h1>
            <h4>Te laat</h4>
          </div>
        </div>
      </div>
      <div class="geenideehoeikditmoetnoemen catalogusbeheer">
        <h3>Catalogusbeheer</h3>
        <div class="icon-grid">
          <div class="icon-item">
            <div class="icon"><img src="/images/catalogus icon.svg" class="fas fa-search"></img></div>
            <h4>Catalogus</h4>
          </div>
          <div class="icon-item">
            <div class="icon"><img src="/images/reservaties.svg" class="fas fa-calendar-alt"></img></div>
            <h4>Reservaties</h4>
          </div>
          <div class="icon-item">
            <div class="icon"><img src="/images/Filters.svg" class="fas fa-filter"></img></div>
            <h4>Filters aanpassen</h4>
          </div>
          <div class="icon-item">
            <div class="icon"><img src="/images/Materiaal.svg" class="fas fa-box"></img></div>
            <h4>Materiaal toevoegen</h4>
          </div>
        </div>
      </div>
      <div class="geenideehoeikditmoetnoemen materiaalingebruik">
      </div>
      <div class="button-retourbeheer"></div>
      <a href="/admin/retourbeheer" class="button">Artikel Terugbrengen</a>
    </div>
  </main>
  <ehb-footer></ehb-footer>
  <script src="/js/components.js"></script>
</body>

</html>
