<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/not-found.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/components/button/button.css"
    />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>Ehb MediaLab - 404 Not Found</title>
  </head>
  <body>
    <h1 class="title">404</h1>
    <p class="subtitle">Oeps, de pagina die je zoekt bestaat niet...</p>
    <a class="btn secondary-button" href="/cataloog">Terug naar cataloog</a>
  </body>
</html>
