<!-- reservaties.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/components/button/button.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/components/filter/filter.css" />
    <link rel="stylesheet" type="text/css" href="/css/reservaties.css" />
    <title>Mijn Reservaties</title>
</head>
<body>
    <ehb-header></ehb-header>
    <hamburger-menu></hamburger-menu>
    <main>
        <h1>Mijn Reservaties</h1>
        <% if (reservations && reservations.length > 0) { %>
            <div class="reservations">
                <% reservations.forEach(reservation => { %>
                    <div class="reservation__card">
                        <h2 class="reservation__product-name"><%= reservation.productNaam %></h2>
                        <p><strong>Datum Gereserveerd:</strong> <%= new Date(reservation.beginDatum).toLocaleDateString() %></p>
                        <p><strong>Gereserveerd Tot:</strong> <%= new Date(reservation.eindDatum).toLocaleDateString() %></p>
                        <button class="btn secondary-button cancel-reservation">Annuleer reservatie</button>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <p>Er zijn geen reserveringen.</p>
        <% } %>
    </main>
    <ehb-footer></ehb-footer>
    <script src="/js/components.js"></script>
    <script src="/components/filter/filter.js"></script>
    <script src="/js/reservationPopup.js"></script>
</body>
</html>
