main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.gebruikersbeheer {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gebruiker {
    margin-bottom: 1rem;
    border-radius: 15px;
    gap: 1rem;
    padding: 15px;
    width: calc(50% - 1rem); 
    display: flex;
    align-items: center; 
    border: 1px solid var(--border-color);
}

.gebruiker img {
    opacity: 80%;
    width: 100px; 
    height: auto; 
    margin-right: 20px; 
}

.user__info{
    list-style-type: none;
}

.info__key{
    font-weight: 600;
}
