main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-top: 4rem;  /* Vergroot de marge boven de titel */
    margin-bottom: 4rem;  /* Vergroot de marge onder de titel */
}

.id-section {
    margin-top: 7rem;  /* Vergroot de marge boven de ID-sectie */
    margin-bottom: 4rem;  /* Vergroot de marge onder de ID-sectie */
}

.id-section label {
    display: block;
    margin-bottom: 1rem;  /* Vergroot de marge onder het label */
    font-weight: bold;
}

.id-section input {
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    margin: 0 auto;
    display: block;
}

.button-group {
    margin-top: 10rem;  /* Vergroot de marge boven de knoppen */
    margin-bottom: 7rem; /* Voeg extra marge toe om de knoppen van de footer te scheiden */
}

.button-group button {
    display: inline-block;
    margin: 0 2rem;  /* Ruimte tussen de knoppen */
    padding: 0.5rem 1rem;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.terug-button {
    background-color: #ccc;
}

.submit-button {
    background-color: #ccc;
}
