

main {
    margin-top: 50px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#flexbox{
    display: flex;
    gap: 7rem;
}
h3{
    font-size: 1.2rem;
    color:var(--primary-400);
}
h2.page__subtitle{
    font-size: 3rem;

}

article img{
    width: 100%;
}
#flexbox article:first-child {
    
    flex: 0 0 35%; /* Hierdoor wordt het eerste article 35% van de breedte */
}
p.product__availability{
    margin-bottom: 2rem;
}
label{
    font-weight: bolder;
}
button.btn.cta-button--red{
    margin-right: 5px;
}

#Kalender{
    background-color: brown;
    width: 300px;
    height: 200px;
}