main {
    margin-top: 50px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#flexbox{
    display: flex;
    gap: 7rem;
}
h3{
    font-size: 1.2rem;
    
}
h2.page__subtitle{
    font-size: 3rem;

}

section img{
    width: 80%;
}
#flexbox section:first-child {
    
    flex: 0 0 35%; /* Hierdoor wordt het eerste section 35% van de breedte */
}
p.product__availability{
    margin-bottom: 2rem;
}

.reden{
    margin-top: .5rem;
    padding: 1rem 0;
    border-top: 1px solid var(--text-muted);
}

.datepicker{
    margin: 1rem 0 2rem 0;
}

label{
    font-weight: bolder;
}
button.btn.secondary-button{
    margin-right: 5px;
}

#kalender{
    background-color: brown;
    width: 300px;
    height: 200px;
}