main {
    margin-top: 50px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
article{
    width: 100%;
    margin-bottom: 10px;
    gap: 15px;
    padding: 25px;
    border-radius: 26px;
    background-color: rgb(216, 216, 216);
    display: flex;
}
article img{
    height: 150px;
    width: auto;
}
.product__uitleenmandje__1{
    font-size: 35px;
}
p{
    margin-top: auto;
    margin-bottom: 0;
    font-size: 30px;
}
h2{
    font-size: 45px;
    margin-bottom: 10px;
    color: var(--secondary-400);
}
.x-mark {
    margin-left: auto;
}
button.btn.cta-button--red{
    margin-right: 5px;
}

#Kalender{
    margin-left: auto;
    background-color: brown;
    width: 300px;
    height: 200px;
}
#container{
    gap: 15px;
    width: 100%;
    display: flex;
}
#articles{
    width: 60%;
}