<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="card.css" />
    <title>Card</title>
  </head>
  <body>
    <section class="basket"> <!-- Container, don't copy for every card -->
       <ul class="basket__item-list"> <!-- Container, don't copy for every card -->
        <div class="item-list__item"> <!-- Copy this and append it to the container -->
          <img
            src="../images/placeholder.svg"
            class="item__image"
            width="100"
            alt="Product"
          />
          <div class="item__container">
            <h2 class="item__title">Canon EOS M50</h2>
            <p class="item__quantity">Quantity: 1</p>
          </div>
          <button class="btn tertiary-button">Verwijder</button>
        </div>
        <li class="item-list__item"> <!-- Copy this and append it to the container -->
            <img
              src="../../images/placeholder.svg"
              class="item__image"
              width="100"
              alt="Product"
            />
            <div class="item__container">
              <h2 class="item__title">Nikon Camera</h2>
              <p class="item__quantity">Quantity: 1</p>
            </div>
            <button class="btn tertiary-button">Verwijder</button>
          </li>
          <li class="item-list__item"> <!-- Copy this and append it to the container -->
            <img
              src="../../images/placeholder.svg"
              class="item__image"
              width="100"
              alt="Product"
            />
            <div class="item__container">
              <h2 class="item__title">Nog een ander product</h2>
              <p class="item__quantity">Quantity: 1</p>
            </div>
            <button class="btn tertiary-button">Verwijder</button>
          </li>
      </ul>
    </section>
  </body>
</html>
