@import url("../../css/default.css");


.basket{
  margin-top: 1rem;
  /* flex: 1; */
  /* overflow-y: auto; */
  display: grid;
  grid-template-columns: 1fr .5fr;
}

.basket__item-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  overflow-y: auto;
  max-height: calc(100svh - 200px);
  overscroll-behavior: contain;
  border: 1px solid var(--border-color);
  border-radius: .5rem;
}

.item-list__item {
  padding: 10px;

  font-family: "Inter";
  display: flex;
  align-items: center;
  
}

.item__image {
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  overflow: hidden;
  object-fit: cover;
}

.item__container {
  margin-left: 0.375rem;
  flex-grow: 1;
  flex-basis: 0;
}

.item__title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: var(--text);
}

.item__quantity {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  line-height: 1;
  color: var(--text-muted);
}

.tertiary-button {
  box-shadow: none;
  color: var(--primary-400);
  background-color: transparent;
  border: none;
  padding: 0;
  height: fit-content;
  margin-left: 0.875rem;
  margin-right: 0.875rem;
}

.tertiary-button:hover {
  text-decoration: underline;
}
