<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="header.css" />
    <title>Header</title>
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <a href="#">
          <img
            src="../../resources/images/ehblogo.svg"
            alt="Erasmushogeschool Brussel"
          />
        </a>
        <h1 class="header__title">MediaLab</h1>
        <div class="header__wrapper">
          <button class="header__cart btn">
            <span class="cart__items">1</span>
            <img
              src="../../resources/images/backpack.svg"
              width="32px"
              alt=""
            />
          </button>
          <button class="header__hamburger-menu btn">
            <img
              src="../../resources/images/hamburger-menu.svg"
              width="32px"
              alt=""
            />
          </button>
        </div>
      </div>
    </header>
  </body>
</html>
