<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="header.css">
    <title>Header</title>
  </head>
  <body>
    <header class="header">
      <div class="header__container">
            <a href="#">
              <img
                src="../../resources/images/ehblogo.svg"
                alt="Erasmushogeschool Brussel"
              />
            </a>
        <button class="header__hamburger-menu"><img src="../../resources/images/hamburger-menu.svg" alt=""/></button>
      </div>
    </header>
  </body>
</html>
