@import url(../../css/default.css);

body{
    margin: 0;
    padding: 0;
}

/* Header */
.header{
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: var(--bg);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
}

.header__hamburger-menu{
    border: none;
    background-color: transparent;
    cursor: pointer;

}

@media screen and (min-width: 768px) {
    .header{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .header__container{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}