@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  /* Primary */
  --primary-100: #ffa3ad;
  --primary-200: #ff727f;
  --primary-300: #ff4151;
  --primary-400: #e30613; /* Base */
  --primary-500: #990000;
  --primary-600: #7c0000;
  --primary-700: #660000;
  --primary-800: #500000;
  --primary-900: #330000;

  /* Secondary */
  --secondary-100: #87e2e0;
  --secondary-200: #61cdcb;
  --secondary-300: #3bbab6;
  --secondary-400: #1bbcb6; /* Base */
  --secondary-500: #00958d;
  --secondary-600: #007b72;
  --secondary-700: #00655e;
  --secondary-800: #004f49;
  --secondary-900: #003934;

  /* Default Variables */
  --bg: #f6f6f6;
  --box-shadow: rgb(0 0 0 / 0.1);
  --bg-footer: #1d1d1b;
  --text-muted: #71717a;
  --text: #09090B;
  --text-hover: #333333;
  --border-color: #e5e7eb;
  --disabled: #bdc3c7;
  --kf-duration: 450ms; /* Keyframe animation duration */
}


/* Web Components */

/* Header */
.header{
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: var(--bg);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
}

.header__title{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-weight: 700;
}

.header__wrapper{
    display: flex;
    gap: 1.25rem;
    position: relative;
}

.cart__items{
    background-color: #E40613;
    color: var(--bg);
    font-family: 'Roboto';
    font-weight: 700;
    padding: .1rem .4rem;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.header__btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--bg);
    height: 2.5rem;
    padding: 0.375rem .375rem;
}

@media screen and (min-width: 768px) {
    .header{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .header__container{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}


/* Hamburger-Menu */

body{
    overflow-x: hidden;
}

.hidden{
    display: none;
}

body.blur > *:not(.nav-menu){
    animation-name: blur;
    animation-duration: var(--kf-duration);
    animation-fill-mode: forwards;
    pointer-events: none;
    user-select: none;
}

body.unblur > *:not(.nav-menu){
    animation-name: unblur;
    animation-duration: var(--kf-duration);
    animation-fill-mode: forwards;
}

.nav-menu{
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Inter';
    font-size: 1rem;
    min-height: 100%;
    border-left: 1px solid var(--text);
    width: min(20rem,calc(100vw - 2.5rem));
    background-color: var(--bg);
    z-index: 99;
}

.nav-menu.active{
    animation-name: active;
    animation-duration: var(--kf-duration);
    animation-fill-mode: forwards;
}

.nav-menu.inactive{
    animation-name: inactive;
    animation-duration: var(--kf-duration);
    animation-fill-mode: forwards;
}

.nav-menu__section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.nav-menu__section:nth-of-type(2){
    border-top: 1px solid #0f172a1a;
    border-bottom: 1px solid #0f172a1a;
}

.nav-menu__button{
    cursor: pointer;
}

.nav-menu__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;

}

.nav-menu__link{
    color: var(--text);
    text-decoration: none;
}

.nav-menu__item{
    transition: font-weight 150ms ease;
}

.nav-menu__item:hover{
    font-weight: 500;
}

.nav-menu__logout{
    font-family: 'Inter';
    font-size: 1rem;
    display: flex;
    align-items: center;
}

/* Keyframes Animations */

@keyframes active {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes inactive {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes blur{
    0% {
        filter: blur(0px);

    }
    100%{
        filter: blur(4px);
    }
}

@keyframes unblur{
    0% {
        filter: blur(4px);
    }
    100%{
        filter: blur(0px);
    }
}

/* Footer */

.footer{
    width: 100%;
    padding-top: .5rem;
    padding-bottom: 1rem;
    font-family: 'Inter';
}


.footer__container{
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: var(--bg-footer);
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: repeat(5, 50px);
}

.footer__contact{
    color: white;
    font-family: 'Inter';
    grid-column: 1;
    grid-row: 4;
    align-self: center;
    justify-self: center;
}

.footer__logo{
    grid-column: 2;
    grid-row: span;
    margin: auto;
}

.footer__wrapper{
    margin-top: auto;
    grid-row: 4;
    grid-column: 3;
}

.footer__socials-list{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: .875rem;
}

.footer__info{
    background-color: #FFFFFF;
    padding-top: 0;
}

.footer__info-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .25rem;
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: .875rem;
}

.footer__info-list a{
    text-decoration: none;
    color: black;
}

/* Default Styles */
h1.page__title{
  font-family: 'Inter';
  font-size: 3rem;
  font-weight: bold;
}

h2.page__subtitle{
  color: var(--secondary-400);
  font-family: 'Inter';
  font-size: 1.875rem;
  font-weight: 600;
}

p.page__text{
  font-family: 'Inter';
  font-size: 1rem;
  margin-top: auto;
}