@import url('/src/css/default.css');

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#Background {
    background:  url('/src/resources/images/info-cover.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
}

#Background article {
    margin-top: 15px;
   
    padding-top: 15px;

    height: 550px;

}

#Flexbox {
    display: flex;
    flex-wrap: wrap;
    /* Zorgt ervoor dat items naar een nieuwe rij gaan als ze niet in de container passen */
    justify-content: space-between;
    /* Verdeelt de ruimte tussen de items, waardoor er ruimte ontstaat tussen de items */
}

article {
    flex-basis: calc(50% - 10px);
    /* 50% breedte voor elk artikel met een kleine marge tussen de artikels */
    margin-bottom: 20px;
    /* Ruimte onder elk artikel */
    box-sizing: border-box;
    /* Zorgt ervoor dat de padding en border in de berekening van de breedte worden opgenomen */
}

table {
    font-family: 'Roboto';
    border-collapse: collapse;
    width: 100%;
}



table,
th,
td {
    border: 1px solid var(--secondary-400);
    margin-bottom: 1rem;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

h3 {
    color: var(--primary-400);
    font-family: 'Roboto';
}

p.Info-Paragraaf {
    width: 50%;
    font-family: 'Roboto';
    font-size: 20px;

}

article iframe {
    width: 100%;
}