@import url("/src/css/default.css");

body{
    padding: 0;
    margin: 0;
}

ul{ /* Don't copy, in reset.css */
    padding: 0;
    list-style: none;
}

/* Footer */
.footer{
    width: 100%;
    padding-top: .5rem;
    padding-bottom: 1rem;
    font-family: 'Inter';
}


.footer__container{
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: var(--bg-footer);
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: repeat(5, 50px);
}

.footer__contact{
    color: white;
    font-family: 'Inter';
    grid-column: 1;
    grid-row: 4;
    align-self: center;
    justify-self: center;
}

.footer__logo{
    grid-column: 2;
    grid-row: span;
    margin: auto;
}

.footer__wrapper{
    margin-top: auto;
    grid-row: 4;
    grid-column: 3;
}

.footer__socials-list{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: .875rem;
}

.footer__info{
    background-color: #FFFFFF;
    padding-top: 0;
}

.footer__info-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .25rem;
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: .875rem;
}

.footer__info-list a{
    text-decoration: none;
    color: black;
}