<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="footer.css" />
    <title>Footer</title>
  </head>
  <body>
    <main></main>
    <footer class="footer">
      <div class="footer__container">
        <img
          class="footer__logo"
          src="../../resources/images/ehblogo-footer.jpg"
          alt="Erasmushogeschool Brussel"
          width="250"
        />
        <div class="footer__wrapper">
          <ul class="footer__socials-list">
            <li class="socials-list-item">
              <a href=""
                ><img
                  src="../../resources/images/facebooklogo.png"
                  width="32px"
                  alt="Facebook"
              /></a>
            </li>
            <li class="socials-list-item">
              <a href=""
                ><img
                  src="../../resources/images/linkedinlogo.png"
                  width="32px"
                  alt="LinkedIn"
              /></a>
            </li>
            <li class="socials-list-item">
              <a href=""
                ><img
                  src="../../resources/images/xlogo.png"
                  width="32px"
                  alt="X"
              /></a>
            </li>
            <li class="socials-list-item">
              <a href=""
                ><img
                  src="../../resources/images/instagramlogo.png"
                  width="32px"
                  alt="Instagram"
              /></a>
            </li>
            <li class="socials-list-item">
              <a href=""
                ><img
                  src="../../resources/images/youtubelogo.png"
                  width="32px"
                  alt="YouTube"
              /></a>
            </li>
            <li class="socials-list-item">
              <a href=""
                ><img
                  src="../../resources/images/discordlogo.png"
                  width="32px"
                  alt="Discord"
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__info">
        <ul class="footer__info-list">
          <li class="footer__info-list-item">
            <a href="#">©Erasmushogeschool Brussel 2024</a>
          </li>
          <li class="footer__info-list-item">
            <a href="#">Cookieverklaring</a>
          </li>
          <li class="footer__info-list-item"><a href="#">Disclaimer</a></li>
          <li class="footer__info-list-item">
            <a href="#">Gebruikersvoorwaarde</a>
          </li>
          <li class="footer__info-list-item">
            <a href="#">Privacyverklaring</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
