<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="date-picker.css">
    <link rel="stylesheet" href="../form/form.css">
    
    <!-- !!! ADD TO HEAD OF PAGE YOU WANT TO USE DATEPICKER !!! -->
    <script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
    <title>Date-Picker</title>
</head>
<body>
    <input id="datepicker" class="input" placeholder="Kies een datum">
    

    <script src="date-picker.js"></script>
</body>
</html>