<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="button.css">
    <title>Button</title>
</head>
<body>
    <h1>Primary Button</h1>
    <button class="btn cta-button--blue">Primary</button>
    <button class="btn cta-button--red">Primary</button>

    <h1>Secondary Button</h1>
    <button class="btn secondary-button">Secondary</button>

    <h1>Tertiary Button</h1>
    <button class="btn tertiary-button">Tertiary</button>
    
</body>
</html>