<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />
    <title>Input</title>
  </head>
  <body>
    <form class="form">
      <div class="form__header">
        <h3 class="form__title">Login</h3>
        <p class="form__description">
          Voer uw email in om in te loggen op uw account
        </p>
      </div>
      <div class="form__content">
        <div class="form__field">
          <label class="input__label" for="email">Email</label>
          <input
            id="email"
            class="input"
            type="email"
            placeholder="voornaam.naam@student.ehb.be"
            required
          />
        </div>
        <div class="form__field">
          <div class="field__container">
            <label class="input__label" for="email">Wachtwoord</label>
            <p class="forgot-password">Wachtwoord vergeten?</p>
          </div>
          <input id="password" class="input" type="password" required />
        </div>
      <button class="form__login-button">Login</button>
      </div>
    </form>
  </body>
</html>
